var cah = {
    debug:true,
    CHATLIST: [],
    subscribed_topics: [],
    wamp_prefix: "http{{#secure_protocol}}s{{/secure_protocol}}://{{ server_domain }}:{{ server_port }}/ws/",
    wsuri: "ws{{#secure_protocol}}s{{/secure_protocol}}://{{ websocket_domain }}:{{ websocket_port }}/ws"
};
